body {
    display: flex;
    flex-direction: column;
    border: 3px dotted blue;
    min-height: 100vh;
}

body>*{
    border: 5px red solid;
    display: flex;
}

body>*>*{
    border: 5px orange solid;
}

body>*>*>*{
    border: 5px pink solid;
}

/* four main sections-----------------------------------*/

.hero-text{
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white
}

ul{
    display: flex;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    
}
/*--------------------------------*/

.footer{

}

.products-container{
    min-height: 45vh;
}

.note-container{
    min-height: 25vh;

}